@use "base/index" as *;

:root {
	//font-weight: 400;
	//font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	//line-height: 1.5;
	//color-scheme: light dark;
	//font-synthesis: none;
	//text-rendering: optimizelegibility;
	//-webkit-font-smoothing: antialiased;
	//-moz-osx-font-smoothing: grayscale;
	//color: #000;

	--bold: 700;
	--regular: 400;
	--standart: 16px;
	--textTitle: 20px;
	--textDesc: 14px;

	--primary: #4a6fff;
	--primary-light: #7b93ff;
	--secondary: #ff6b6b;
	--accent: #ffd166;
	--dark: #2a324b;
	--light: #f7f9fc;
	--gray: #e1e5ee;
	--gray-dark: #9da5b9;
	--white: #fff;

	--shadow-sm: 0 8px 16px 0px rgba(0, 0, 0, 0.05);
	--shadow-md: 0 4px 8px 0px rgba(0, 0, 0, 0.1);
	--shadow-lg: 0 8px 16px 0px rgba(0, 0, 0, 0.15);

	* {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.iconText {
		font-weight: 700;
		font-size: 22px;
		line-height: normal;
		letter-spacing: 0;
	}

	.standartText {
		font-weight: var(--regular);
		font-size: var(--standart);
		line-height: 100%;
		letter-spacing: 0;
	}

	.h1_text{
		font-weight: var(--bold);
		font-size: 32px;
		line-height: normal;
		letter-spacing: 0;
	}

	.titleText {
		font-weight: var(--bold);
		font-size: var(--textTitle);
		line-height: normal;
		letter-spacing: 0;
	}

	.descText {
		font-weight: var(--regular);
		font-size: var(--textDesc);
		line-height: normal;
		letter-spacing: 0;
	}

	.copyright {
		font-weight: 300;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 0;
	}
}
