.card {
	position: relative;
	height: 260px;
	border-radius: 8px;
	background-color: var(--gray);
	transition: 0.3s;
	padding-inline: 65px;
	max-width: 370px;

	overflow: hidden;

	&__cardInner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 240px;
		height: 100%;

		.img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			transition: 0.3s;

			object-fit: cover;
		}
	}

	.nameProject {
		white-space: nowrap;

		font-weight: var(--bold);
		font-size: var(--standart);
		color: var(--gray-dark);
	}

	.hover {
		opacity: 0;
		position: absolute;
		text-align: center;
		z-index: 3;

		.nameProject {
			color: var(--white);
			font-size: 18px;
		}

		&__categoryText {
			color: var(--accent);
			margin-block: 16px;
		}

		&__btnInfo {
			padding: 6px 8px;
			font-weight: var(--regular-bold);
			font-size: var(--textDesc);
		}
	}

	.projectName {
		transition: 0.3s;
	}

	&:hover {
		background-color: var(--dark);

		.projectName {
			opacity: 0.1;
		}

		.hover {
			opacity: 1;
		}
	}
}
