.header {
	z-index: 1000;
	background-color: var(--dark);
	color: var(--light);
	height: 50px;

	.headerInner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 8px;
	}

	&__headerLogo {
		margin: 0;
		padding-block: 11.5px;
	}

	&__headerNav {
		white-space: nowrap;

		.nav__headerNavList {
			margin: 0;
			display: flex;
			gap: 20px;

			.nav__itemLink {
				a {
					position: relative;
					padding-bottom: 15px;

					&::before {
						content: "";
						position: absolute;
						width: 0;
						left: 0;
						bottom: 0;
						border-bottom: 2px solid var(--accent);

						transition: 0.3s;
					}

					&:hover {
						&::before {
							width: 100%;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		position: sticky;
		top: 0;
	}

	@media screen and (max-width: 666px) {
		.header__headerNav {
			display: none;
		}
	}
}
